// TwoColumnText.vue styles
.two-column-text {
  .damsnt {
    font-family: FONTSPRINGDEMO-RecoletaBold;
    font-size: 50px;
    font-weight: 800;
    font-stretch: normal;
    font-style: normal;
    line-height: 1.2;
    letter-spacing: normal;
    color: #000b0f;
  }

  .kemi {
    font-family: 'Plus Jakarta Sans', sans-serif;
    font-size: 18px;
    font-weight: normal;
    line-height: 1.8;
    color: #333;
  }

  @media (max-width: 768px) {
    flex-direction: column;

    .damsnt {
      font-size: 32px;
      margin-bottom: 1rem;
    }

    .kemi {
      font-size: 16px;
    }
  }
}
